<div style="margin-left: 1em;">
    <h2>How to authenticate: </h2>
    <p>
        Each call has to have our custom header with the personal apikey: X-HEXAA-AUTH: &lt;Your API key here&gt; <br/>
        The API key should be obtained through the POST /api/tokens call.
    </p>
    <h2 id="admins">Adding HEXAA admins: </h2>
    <p>
        To treat a principal as an admin you have to list him/her in /path/to/hexaa/app/config/site/hexaa_admins.yml<br/>
        An example file is provided with the HEXAA installation: /path/to/hexaa/app/config/site/hexaa_admins_dist.yml <br/>
        It is recommended to clear the cache after modifying the config. To do this run<br/><br/>
        php app/console cache:clear --env=prod<br/><br/>
        in the HEXAA install directory.
    </p>
    <h2 id="act_as_admin">Calling as a HEXAA admin: </h2>
    <p>
        To act as a HEXAA admin you have to specify admin=true GET parameters to calls, otherwise you will not be
        authenticated as an admin.
    </p>
    <h2 id="verbosity">Verbosity</h2>
    <p>
        All calls accept a 'verbose' GET parameter. Some calls don't make use of it (can't change verbosity of an empty
        request),
        but can handle it all the same for the sake of compatibility.
        There are 3 possible values:
    </p>
    <dl>
        <dt><strong>minimal:</strong></dt>
        <dd>serializes only minimal information (e.g. name and id)</dd>
        <dt><strong>normal:</strong></dt>
        <dd>returns all attributes + the ids of any child collection or entity</dd>
        <dt><strong>expanded:</strong></dt>
        <dd>returns all attributes and child collections or entities</dd>
    </dl>
    <h2 id="entityids">About EntityIDs: </h2>
    <p>
        Adding an EntityID to HEXAA should happen when registering the SPs metadata.<br/>
        To add an EntityID you have to list it in the file: <tt>/path/to/hexaa/app/config/site/hexaa_entityids.yml</tt>
        <br>
        An example file is provided with the HEXAA installation: <tt>/path/to/hexaa/app/config/site/hexaa_entityids_dist.yml</tt>
        <br>
        It is recommended to clear the cache after modifying the config. To do this run<br/><br/>
        php app/console cache:clear --env=prod<br/><br/>
        in the HEXAA install directory.
    </p>
    <h2>Note about tags</h2>
    <p>
        Tags (e.g. admins) show the lowest security role requirement required for the call.<br>
        This means a call tagged "service manager" can be called by admins and service managers.<br>
        Those calls without these tags can be called by anyone.<br>
        Available security roles:
    </p>
    <ul>
        <li style="margin: 0.25em;"><span style="background-color:#d9534f; color: #ffffff;">admin</span></li>
        <li style="margin: 0.25em;"><span style="background-color:#4180B4; color: #ffffff;">(service|organization) manager</span>
        </li>
        <li style="margin: 0.25em;"><span style="background-color:#5BA578; color: #ffffff;">organization member</span>
        </li>
    </ul>
    <h2>Note about server-side pagination</h2>
    <p>
        Those calls with 'limit' and 'offset' GET parameters always return a JSON object with "item_number"
        containing the number of total items and an "items" array with the items determined by offset and limit.
    </p>
</div>
