<!DOCTYPE html>
<h2>How to authenticate: </h2>
<p>
    Each call has to have our custom header with the personal apikey: X-AUTH-HEXAA: &lt;Your API key here&gt; <br/>
    The API key should be obtained through SAML query.
</p>

