<div style="margin-left: 1em;">
<h2>How to authenticate: </h2>
<p>
    Each call has to have our custom header with the personal apikey: X-HEXAA-AUTH: &lt;Your API key here&gt; <br/>
    The API key should be obtained through the POST /api/tokens call.<br>
   
</p>

</div>