{% extends '::base.html.twig' %}

{% block title %}Sistema de Gestão de Credenciais{% if type is defined %} - {{ type }}{% endif %}{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Ocorreu um erro.</h1>
{% endblock %}