/web/bundles/
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/config/hexaa_entityids.yml
/app/config/hexaa_admins.yml
/web/.htaccess
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
.composer.lock
composer.lock
