/web/bundles/
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/config/hexaa_entityids.yml
/app/config/hexaa_admins.yml
/web/.htaccess
/web/uploads/service_logos/*
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
/.idea/
.composer.lock
composer.lock
tokenkeygen*
/src/Hexaa/ApiBundle/Hook/MasterKeyHook/*
!/src/Hexaa/ApiBundle/Hook/MasterKeyHook/defaultMasterKey.php
!/src/Hexaa/ApiBundle/Hook/MasterKeyHook/MasterKeyHook.php
/src/Hexaa/ApiBundle/Hook/ExpireHook/*
!/src/Hexaa/ApiBundle/Hook/ExpireHook/ExpireHook.php
!/src/Hexaa/ApiBundle/Hook/ExpireHook/ExpireConsentsHook.php
!/src/Hexaa/ApiBundle/Hook/ExpireHook/ExpireLinkerTokensHook.php
!/src/Hexaa/ApiBundle/Hook/ExpireHook/ExpirePrincipalsHook.php
/app/bootstrap.php.cache
/app/SymfonyRequirements.php
*.php~
