/web/bundles/
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/config/hexaa_entityids.yml
/app/config/hexaa_admins.yml
/web/.htaccess
/web/uploads/service_logos/*
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
.composer.lock
composer.lock
tokenkeygen*
/src/Hexaa/ApiBundle/Hook/MasterKeyHook/*
!/src/Hexaa/ApiBundle/Hook/MasterKeyHook/defaultMasterKey.php
!/src/Hexaa/ApiBundle/Hook/MasterKeyHook/iMasterKeyHook.php
/app/bootstrap.php.cache
