/* MultiSuggestBox directive */
.multisuggestbox {
	width: 200px;
}

.form-control .searchUser {
	width: inherit !important;
	position: relative !important;
}

.form-control .selectUser {
	width: inherit !important;
	position: relative !important;
}

/* Alert */
.alert {
	width: 100%;
	bottom: 0;
	position: fixed;
	margin-bottom: 0;
}
.alert .glyphicon-remove-circle { cursor: pointer; }

/* FIX */
textarea { resize: vertical; }