<html>
    <body>
        <h1>{% trans %}Service enabled!{% endtrans %}</h1>
        <p>
            {% trans with {'%name%': service.name } %}
                You have successfully enabled Service %name%.<br></p><hr>
            <strong>%name%</strong> description
        {% endtrans %}:<br><br>
        {{ service.description }}<br>
    </p>
    <hr>
    <p>Thank you!<br>
       You may now <a href="javascript:window.close">close this page</a>.</p>
</body>
</html>
